<div style="background-color: #3498db;" layout="column">
  <mat-toolbar style="background-color: #3498db;">
    Review Ninja Bot
  </mat-toolbar>
  <div class="flex-container p-3 justify-content-center " >
    <div>
      <div *ngFor="let data of data" [ngClass]="data.role" class="p-2">
        <div *ngIf="data.role == 'user'">
          <p>You</p>
        </div>
        <div *ngIf="data.role == 'bot'">
          <p>Bot</p>
        </div>
        <hr>
        <p>{{data.text}} </p>
      </div>
      <div *ngIf="this.spinnerState">
        <div class="bot p-3">
          <p>Bot</p>
          <hr>
        </div>
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="py-3">
      <ng-container>
        <form class="row" [formGroup]="formGroup">
          <mat-form-field class="col-3" appearance="outline">
            <input matInput placeholder="Restaurant Name" formControlName="restaurantName"  required [disabled]="this.spinnerState">
          </mat-form-field>
          <mat-form-field class="col-8" appearance="outline">
            <input matInput placeholder="Question" formControlName="text" [disabled]="this.spinnerState">
          </mat-form-field>
          <div class="col-auto">
            <button mat-raised-button style="background-color: #2ecc71;" [disabled]="this.spinnerState" (click)="callApi()">send</button>
          </div>
        </form>
      </ng-container>
    </div>

  </div>
</div>